<!doctype html>
<html lang='en-us'>
<head>
<title>10000 challenge</title>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<!--<script type='text/javascript' src='assets/js/game.js'></script>  -->
</head>
<body>
    <div class="dashboard">
        <div class="heading">
            <img src="" alt="">
            <p><span id="username"></span>,welcome to 10000 challenge</p>
        </div>
        <div class="container">
            <div class="col-8 offet-2">
                <div class="add-button">
                <button id="addButton" >+</button>
                <span>add habit</span>
                </div>
                <div class="habits">
                    
                </div>
            </div>
            
        </div>
    </div>
<script>
</script>
</body>
</html>