#login-div {
  border-bottom: 4pt solid grey;
}

body {
  background: url("../images/photo-1514119412350-e174d90d280e.jpeg") no-repeat center center fixed;
  background-size: cover;
}

#home-page-container {
  background-color: aliceblue;
  opacity: 0.9;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

#error-container {
  background-color: aliceblue;
  opacity: 0.9;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

#page-content {
  background-color: aliceblue;
  opacity: 0.9;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px auto;
}

#stuff {
  background-color: aliceblue;
  opacity: 0.9;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
